Repository juh9870/eh_codegen: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, cargo-check, cargo-fix, clippy, sort, machete

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: fmt
        name: fmt
        description: Format files with cargo fmt.
        entry: cargo fmt --all -- --check --color always
        language: system
        types: [ rust ]
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check the package for errors.
        entry: cargo check --workspace
        language: system
        types: [rust]
        pass_filenames: false
      - id: cargo-fix
        name: cargo fix
        description: Checks for applicable `cargo fix` changes
        entry: cargo fix --allow-dirty --allow-staged -q
        language: system
        types: [rust]
        pass_filenames: false
      - id: clippy
        name: clippy
        description: Lint rust sources
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
      - id: sort
        name: cargo sort
        description: Check if all files follow the rustfmt style
        entry: cargo sort -c -w
        language: system
        types: [toml]
        pass_filenames: false
      - id: machete
        name: cargo machete
        description: Check for unused dependencies
        entry: cargo machete
        language: system
        types_or: [toml, rust]
        pass_filenames: false

refactor: reduce macro generated boilerplate
  eh_mod_dev/src/database/macro_impls.rs
Due: fmt, cargo-check, cargo-fix, clippy, machete

feat: item fetching and iterators
  .gitignore
  Cargo.lock
  Cargo.toml
  eh_codegen/src/codegen/switch.rs
  eh_codegen/src/main.rs
  eh_mod_dev/Cargo.toml
  eh_mod_dev/src/database.rs
  eh_mod_dev/src/database/db_item.rs
  eh_mod_dev/src/database/macro_impls.rs
  eh_mod_dev/src/database/stored_db_item.rs
  eh_mod_dev/src/layout.rs
  eh_mod_dev/src/lib.rs
  eh_mod_example/Cargo.toml
  eh_mod_example/src/main.rs
  eh_mod_example/src/test_mod.rs
  eh_schema/src/helpers.rs
  eh_schema/src/schema.rs
Due: fmt, cargo-check, cargo-fix, clippy, sort, machete

refactor: let clippy fix up the code
  eh_codegen/src/main.rs
  eh_schema/src/schema.rs
Due: fmt, cargo-check, cargo-fix, clippy, machete

feat: roguelike impl
  Cargo.lock
  eh_mod_dev/Cargo.toml
  eh_mod_dev/src/database.rs
  eh_mod_dev/src/database/macro_impls.rs
  eh_mod_dev/src/helpers.rs
  eh_mod_dev/src/lib.rs
  eh_rogue_mod/Cargo.toml
  eh_rogue_mod/src/test_mod.rs
Due: fmt, cargo-check, cargo-fix, clippy, sort, machete

feat: codegen updates
  eh_codegen/src/codegen.rs
  eh_codegen/src/codegen/structs.rs
  eh_codegen/src/codegen/switch.rs
  eh_mod_dev/src/database/stored_db_item.rs
  eh_schema/src/schema.rs
Due: fmt, cargo-check, cargo-fix, clippy, machete

build: fmt after fixes
  fix.sh
Due: none

feat(mod_dev): use BTreeMap for IDs for consistent serialization order
  eh_mod_dev/src/database.rs
Due: fmt, cargo-check, cargo-fix, clippy, machete

feat(mod_dev): `from_json_string`
  eh_mod_dev/src/helpers.rs
Due: fmt, cargo-check, cargo-fix, clippy, machete

feat(rogue): permadeath quest
  eh_rogue_mod/output/eh-capture_starbase_Quest.json
  eh_rogue_mod/output/eh-easter_Quest.json
  eh_rogue_mod/output/eh-escapepod_Quest.json
  eh_rogue_mod/output/eh-fac_delivery_Quest.json
  eh_rogue_mod/output/eh-fac_pirates_Quest.json
  eh_rogue_mod/output/eh-fac_resources_Quest.json
  eh_rogue_mod/output/eh-jansalo_combat_Quest.json
  eh_rogue_mod/output/eh-jansalo_fuel_Quest.json
  eh_rogue_mod/output/eh-jansalo_into_Quest.json
  eh_rogue_mod/output/eh-local_pirates_Quest.json
  eh_rogue_mod/output/eh-merchant_Quest.json
  eh_rogue_mod/output/eh-pandemic_Quest.json
  eh_rogue_mod/output/eh-pirates_Quest.json
  eh_rogue_mod/output/eh-scavenger_distress_Quest.json
  eh_rogue_mod/output/eh-scavenger_harbor_Quest.json
  eh_rogue_mod/output/eh-scavenger_trade_Quest.json
  eh_rogue_mod/output/eh-ship_out_of_fuel_Quest.json
  eh_rogue_mod/output/eh-wormship_Quest.json
  eh_rogue_mod/output/roguelike-lock_quest_Quest.json
  eh_rogue_mod/output/roguelike-loot_Loot.json
  eh_rogue_mod/output/roguelike-marker_QuestItem.json
  eh_rogue_mod/src/test_mod.rs
Due: fmt, cargo-check, cargo-fix, clippy, machete

feat(rogue): good loot
  eh_rogue_mod/output/eh-civilian_ship_reward_Loot.json
  eh_rogue_mod/output/eh-covid_loot_Loot.json
  eh_rogue_mod/output/eh-merchant_goods_Loot.json
  eh_rogue_mod/output/eh-merchant_loot_Loot.json
  eh_rogue_mod/output/eh-random_resources_Loot.json
  eh_rogue_mod/output/eh-random_stuff_Loot.json
  eh_rogue_mod/output/eh-scavenger_goods_Loot.json
  eh_rogue_mod/output/eh-some_money_Loot.json
  eh_rogue_mod/output/eh-some_money_x5_Loot.json
  eh_rogue_mod/output/eh-worm_boss_loot_Loot.json
  eh_rogue_mod/src/test_mod.rs
Due: fmt, cargo-check, cargo-fix, clippy, machete

feat(rogue): encounter patches
  eh_rogue_mod/output/eh-local_pirates_Quest.json
  eh_rogue_mod/output/eh-scavenger_trade_Quest.json
  eh_rogue_mod/output/roguelike-scavenger_loot_Loot.json
  eh_rogue_mod/src/test_mod.rs
Due: fmt, cargo-check, cargo-fix, clippy, machete

feat: mod building and quest fixes
  Cargo.lock
  Cargo.toml
  eh_mod_dev/Cargo.toml
  eh_mod_dev/src/builder.rs
  eh_mod_dev/src/database.rs
  eh_mod_dev/src/database/db_item.rs
  eh_mod_dev/src/lib.rs
  eh_mod_example/src/test_mod.rs
  eh_rogue_mod/output/DatabaseSettings.json
  eh_rogue_mod/output/eh-local_pirates_Quest.json
  eh_rogue_mod/output/eh-random_stuff_Loot.json
  eh_rogue_mod/output/eh-tutorial_Quest.json
  eh_rogue_mod/src/main.rs
  eh_rogue_mod/src/random_stuff.json
  eh_rogue_mod/src/test_mod.rs
Due: fmt, cargo-check, cargo-fix, clippy, sort, machete

chore: mod rename
  eh_rogue_mod/output/DatabaseSettings.json
  eh_rogue_mod/src/test_mod.rs
Due: fmt, cargo-check, cargo-fix, clippy, machete

docs: license
  LICENSE.txt
Due: none

refactor: extracted vanilla ID mappings
  eh_mod_dev/src/lib.rs
  eh_mod_dev/src/vanilla_mappings.rs
  eh_rogue_mod/src/test_mod.rs
Due: fmt, cargo-check, cargo-fix, clippy, machete

feat: codegen macros for specific use cases
  eh_codegen/src/codegen.rs
  eh_mod_dev/src/database/macro_impls.rs
  eh_schema/src/schema.rs
Due: fmt, cargo-check, cargo-fix, clippy, machete

fix(codegen): fixed validation ignoring nested structs
  eh_codegen/src/codegen/structs.rs
  eh_schema/src/schema.rs
Due: fmt, cargo-check, cargo-fix, clippy, machete

feat: custom schema error and warnings diagnostics
  Cargo.lock
  Cargo.toml
  diagnostic/Cargo.toml
  diagnostic/src/context.rs
  diagnostic/src/diagnostic.rs
  diagnostic/src/lib.rs
  diagnostic/src/path.rs
  eh_codegen/src/codegen.rs
  eh_codegen/src/codegen/enums.rs
  eh_codegen/src/codegen/structs.rs
  eh_codegen/src/codegen/switch.rs
  eh_codegen/src/main.rs
  eh_mod_dev/Cargo.toml
  eh_mod_dev/src/database.rs
  eh_mod_dev/src/lib.rs
  eh_mod_dev/src/reporting.rs
  eh_mod_dev/src/validators.rs
  eh_rogue_mod/Cargo.toml
  eh_rogue_mod/output/eh-some_money_x5_Loot.json
  eh_rogue_mod/src/main.rs
  eh_rogue_mod/src/test_mod.rs
  eh_schema/Cargo.toml
  eh_schema/src/helpers.rs
  eh_schema/src/schema.rs
  fix.sh
Due: fmt, cargo-check, cargo-fix, clippy, sort, machete

feat: reworked and better ID system
  eh_mod_dev/src/database.rs
  eh_mod_dev/src/database/macro_impls.rs
  eh_mod_dev/src/lib.rs
  eh_mod_dev/src/mapping.rs
  eh_mod_dev/src/quests.rs
  eh_mod_example/src/test_mod.rs
  eh_rogue_mod/output/id_mappings.json5
  eh_rogue_mod/src/test_mod.rs
Due: fmt, cargo-check, cargo-fix, clippy, machete

feat: directory-based file saving
  Cargo.lock
  Cargo.toml
  eh_mod_dev/Cargo.toml
  eh_mod_dev/src/database.rs
  eh_mod_dev/src/reporting.rs
Due: fmt, cargo-check, cargo-fix, clippy, sort, machete

perf: faster DB loading thanks to rayon
  eh_mod_dev/src/database.rs
Due: fmt, cargo-check, cargo-fix, clippy, machete

chore: remove unused field
  eh_mod_dev/src/database.rs
Due: fmt, cargo-check, cargo-fix, clippy, machete

style: sort workspace dependencies
  Cargo.toml
Due: sort, machete

perf: use cache file to avoid unnecessary file writes
  .gitignore
  Cargo.lock
  Cargo.toml
  eh_mod_dev/Cargo.toml
  eh_mod_dev/src/builder.rs
  eh_mod_dev/src/database.rs
  eh_mod_dev/src/lib.rs
  eh_mod_dev/src/utils.rs
  eh_rogue_mod/Cargo.toml
  eh_rogue_mod/src/main.rs
Due: fmt, cargo-check, cargo-fix, clippy, sort, machete

feat: initial quest implementation and universal CLI
  Cargo.lock
  Cargo.toml
  eh_mod_cli/Cargo.toml
  eh_mod_cli/src/lib.rs
  eh_mod_dev/src/database.rs
  eh_mod_dev/src/database/iters.rs
  eh_mod_dev/src/database/macro_impls.rs
  eh_mod_dev/src/lib.rs
  eh_mod_dev/src/mapping.rs
  eh_mod_dev/src/quests.rs
  eh_mod_dev/src/validators.rs
  eh_mod_example/src/test_mod.rs
  eh_rogue_mod/Cargo.toml
  eh_rogue_mod/src/main.rs
  eh_rogue_mod/src/test_mod.rs
  eh_rogue_mod/src/test_mod/quest_surgeon.rs
  eh_roguelite/Cargo.toml
  eh_roguelite/src/main.rs
  eh_roguelite/src/roguelite.rs
  quests/Cargo.toml
  quests/src/lib.rs
  quests/src/quests.rs
  quests/src/quests/nodes.rs
  quests/src/quests/nodes/dialog.rs
Due: fmt, cargo-check, cargo-fix, clippy, sort, machete

feat: quest improvements, initial components module, and a lot of fixes
  Cargo.lock
  Cargo.toml
  components/Cargo.toml
  components/src/lib.rs
  components/src/modifier.rs
  components/src/sized.rs
  eh_mod_dev/Cargo.toml
  eh_mod_dev/src/database.rs
  eh_mod_dev/src/database/db_item.rs
  eh_mod_dev/src/database/extra_item.rs
  eh_mod_dev/src/database/iters.rs
  eh_mod_dev/src/database/macro_impls.rs
  eh_mod_dev/src/mapping.rs
  eh_mod_dev/src/vanilla_mappings.rs
  eh_roguelite/Cargo.toml
  eh_roguelite/src/roguelite.rs
  eh_roguelite/src/roguelite/core.rs
  eh_roguelite/src/roguelite/enemy_fleets.rs
  eh_roguelite/src/roguelite/events.rs
  eh_schema/Cargo.toml
  eh_schema/src/extensions.rs
  eh_schema/src/extensions/component.rs
  eh_schema/src/extensions/loot_content.rs
  eh_schema/src/extensions/quest_item.rs
  eh_schema/src/extensions/requirements.rs
  eh_schema/src/extensions/ship.rs
  eh_schema/src/helpers.rs
  eh_schema/src/lib.rs
  quests/src/lib.rs
  quests/src/quests.rs
  quests/src/quests/branch.rs
  quests/src/quests/branch/combat.rs
  quests/src/quests/branch/dialog.rs
  quests/src/quests/branch/nodes.rs
  quests/src/quests/branch/switch.rs
  quests/src/quests/nodes.rs
Due: fmt, cargo-check, cargo-fix, clippy, sort, machete

chore(roguelite): vanilla patches
  eh_roguelite/output/auto/Faction_1.json
  eh_roguelite/output/auto/Faction_10.json
  eh_roguelite/output/auto/Faction_11.json
  eh_roguelite/output/auto/Faction_12.json
  eh_roguelite/output/auto/Faction_13.json
  eh_roguelite/output/auto/Faction_14.json
  eh_roguelite/output/auto/Faction_15.json
  eh_roguelite/output/auto/Faction_16.json
  eh_roguelite/output/auto/Faction_17.json
  eh_roguelite/output/auto/Faction_18.json
  eh_roguelite/output/auto/Faction_19.json
  eh_roguelite/output/auto/Faction_2.json
  eh_roguelite/output/auto/Faction_3.json
  eh_roguelite/output/auto/Faction_4.json
  eh_roguelite/output/auto/Faction_5.json
  eh_roguelite/output/auto/Faction_6.json
  eh_roguelite/output/auto/Faction_7.json
  eh_roguelite/output/auto/Faction_8.json
  eh_roguelite/output/auto/Faction_9.json
  eh_roguelite/output/eh/local_pirates_Quest.json
  eh_roguelite/src/roguelite.rs
Due: fmt, cargo-check, cargo-fix, clippy, machete

chore(roguelite): db settings
  eh_roguelite/output/settings/DatabaseSettings.json
  eh_roguelite/output/settings/GalaxySettings.json
  eh_roguelite/src/roguelite.rs
Due: fmt, cargo-check, cargo-fix, clippy, machete

chore(roguelite): initial fleets
  eh_roguelite/output/id_mappings.json5
  eh_roguelite/output/rgl/basic_CombatRules.json
  eh_roguelite/output/rgl/blitz_CombatRules.json
  eh_roguelite/output/rgl/gang_CombatRules.json
  eh_roguelite/output/rgl/scouts_Fleet.json
  eh_roguelite/output/rgl/scouts_QuestItem.json
  eh_roguelite/output/settings/FactionsSettings.json
  eh_roguelite/src/roguelite.rs
Due: fmt, cargo-check, cargo-fix, clippy, machete
