Repository juh9870/eh_codegen: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, cargo-check, cargo-fix, clippy, sort, machete

fmt:
  name: fmt
  description: Format files with cargo fmt.
  entry: cargo fmt --all -- --check --color always
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check the package for errors.
  entry: cargo check --workspace
  language: system
  pass_filenames: false

cargo-fix:
  name: cargo fix
  description: Checks for applicable `cargo fix` changes
  entry: cargo fix --allow-dirty --allow-staged -q
  language: system
  pass_filenames: false

clippy:
  name: clippy
  description: Lint rust sources
  entry: cargo clippy
  language: system
  pass_filenames: false

sort:
  name: cargo sort
  description: Check if all files follow the rustfmt style
  entry: cargo sort -c -w
  language: system
  pass_filenames: false

machete:
  name: cargo machete
  description: Check for unused dependencies
  entry: cargo machete
  language: system
  pass_filenames: false

chore(roguelite): core quest
  eh_roguelite/output/id_mappings.json5
  eh_roguelite/output/rgl/all_components_1000x_Loot.json
  eh_roguelite/output/rgl/all_event_items_Loot.json
  eh_roguelite/output/rgl/all_ships_100x_Loot.json
  eh_roguelite/output/rgl/chapter_indicator_Loot.json
  eh_roguelite/output/rgl/chapter_indicator_QuestItem.json
  eh_roguelite/output/rgl/core_Quest.json
  eh_roguelite/output/rgl/event_chapter_1_Loot.json
  eh_roguelite/output/rgl/event_chapter_2_Loot.json
  eh_roguelite/output/rgl/event_chapter_3_Loot.json
  eh_roguelite/output/rgl/event_chapter_4_Loot.json
  eh_roguelite/output/rgl/event_chapter_5_Loot.json
  eh_roguelite/src/roguelite.rs
  eh_roguelite/src/roguelite/core.rs
Due: fmt, cargo-check, cargo-fix, clippy, machete

chore(roguelite): sort outputs & buildscript
  build_roguelite.sh
  eh_roguelite/output/rgl/all_components_1000x_Loot.json
  eh_roguelite/output/rgl/all_ships_100x_Loot.json
  eh_roguelite/src/roguelite/core.rs
Due: fmt, cargo-check, cargo-fix, clippy, machete

fix(roguelite): patch out other game start quests
  eh_roguelite/output/eh/tutorial_Quest.json
  eh_roguelite/src/roguelite.rs
Due: fmt, cargo-check, cargo-fix, clippy, machete

fix(roguelite): clear chapter on new game start
  eh_roguelite/output/id_mappings.json5
  eh_roguelite/output/rgl/chapter_indicator_100x_Loot.json
  eh_roguelite/output/rgl/core_Quest.json
  eh_roguelite/src/roguelite/core.rs
Due: fmt, cargo-check, cargo-fix, clippy, machete

fix(roguelite): enemy levels and amount fix, clean up event items on path choice
  eh_roguelite/output/id_mappings.json5
  eh_roguelite/output/rgl/basic_CombatRules.json
  eh_roguelite/output/rgl/blitz_CombatRules.json
  eh_roguelite/output/rgl/core_Quest.json
  eh_roguelite/output/settings/GalaxySettings.json
  eh_roguelite/src/roguelite.rs
  eh_roguelite/src/roguelite/core.rs
  eh_roguelite/src/roguelite/enemy_fleets.rs
Due: fmt, cargo-check, cargo-fix, clippy, machete

feat(schema): Eq and Hash impls for all objects
  Cargo.lock
  Cargo.toml
  eh_codegen/src/codegen/structs.rs
  eh_codegen/src/codegen/switch.rs
  eh_codegen/src/main.rs
  eh_schema/Cargo.toml
  eh_schema/src/extensions.rs
  eh_schema/src/extensions/quest.rs
  eh_schema/src/helpers.rs
  eh_schema/src/schema.rs
Due: fmt, cargo-check, cargo-fix, clippy, sort, machete

refactor: reformats and caching
  Cargo.lock
  Cargo.toml
  caching/Cargo.toml
  caching/src/lib.rs
  caching/src/loot_content.rs
  eh_mod_dev/Cargo.toml
  eh_mod_dev/src/database.rs
  eh_mod_dev/src/mapping.rs
  eh_rogue_mod/Cargo.toml
  eh_rogue_mod/src/test_mod.rs
  quests/src/quests/branch/nodes.rs
Due: fmt, cargo-check, cargo-fix, clippy, sort, machete

feat: split out encounter into a new quest
  eh_roguelite/output/id_mappings.json5
  eh_roguelite/output/rgl/all_components_1000x_Loot.json
  eh_roguelite/output/rgl/all_event_items_Loot.json
  eh_roguelite/output/rgl/all_ships_100x_Loot.json
  eh_roguelite/output/rgl/basic_CombatRules.json
  eh_roguelite/output/rgl/blitz_CombatRules.json
  eh_roguelite/output/rgl/chapter_indicator_100x_Loot.json
  eh_roguelite/output/rgl/core_Quest.json
  eh_roguelite/output/rgl/encounter_Quest.json
  eh_roguelite/output/rgl/event_chapter_1_Loot.json
  eh_roguelite/output/rgl/event_chapter_2_Loot.json
  eh_roguelite/output/rgl/event_chapter_3_Loot.json
  eh_roguelite/output/rgl/event_chapter_4_Loot.json
  eh_roguelite/output/rgl/event_chapter_5_Loot.json
  eh_roguelite/output/rgl/scouts_QuestItem.json
  eh_roguelite/src/roguelite.rs
  eh_roguelite/src/roguelite/core.rs
  eh_roguelite/src/roguelite/events.rs
Due: fmt, cargo-check, cargo-fix, clippy, machete

feat: fix the double init issue and updated vanilla to not appear in game
  Cargo.lock
  Cargo.toml
  build_roguelite.sh
  eh_mod_cli/Cargo.toml
  eh_mod_cli/src/lib.rs
  eh_mod_dev/src/database.rs
  eh_roguelite/output/auto/Loot_10000.json
  eh_roguelite/output/auto/Loot_10011.json
  eh_roguelite/output/auto/Loot_10012.json
  eh_roguelite/output/auto/Loot_10013.json
  eh_roguelite/output/id_mappings.json5
  eh_roguelite/output/rgl/all_components_1000x_Loot.json
  eh_roguelite/output/rgl/all_event_items_Loot.json
  eh_roguelite/output/rgl/all_ships_100x_Loot.json
  eh_roguelite/output/rgl/chapter_indicator_100x_Loot.json
  eh_roguelite/output/rgl/chapter_indicator_QuestItem.json
  eh_roguelite/output/rgl/core_Quest.json
  eh_roguelite/output/rgl/encounter_Quest.json
  eh_roguelite/output/rgl/event_chapter_1_Loot.json
  eh_roguelite/output/rgl/event_chapter_2_Loot.json
  eh_roguelite/output/rgl/event_chapter_3_Loot.json
  eh_roguelite/output/rgl/event_chapter_4_Loot.json
  eh_roguelite/output/rgl/event_chapter_5_Loot.json
  eh_roguelite/output/rgl/init_quest_lock_QuestItem.json
  eh_roguelite/output/rgl/new_game_Quest.json
  eh_roguelite/output/rgl/player_did_move_QuestItem.json
  eh_roguelite/output/rgl/startup_Quest.json
  eh_roguelite/src/roguelite.rs
  eh_roguelite/src/roguelite/core.rs
  quests/src/quests.rs
  quests/src/quests/branch.rs
  quests/src/quests/branch/nodes.rs
  quests/src/quests/branch/switch.rs
Due: fmt, cargo-check, cargo-fix, clippy, sort, machete

refactor: moved to quest swarm architecture
  build_roguelite.sh
  eh_mod_dev/src/database.rs
  eh_roguelite/output/auto/Loot_10012.json
  eh_roguelite/output/auto/Loot_10014.json
  eh_roguelite/output/auto/Loot_10015.json
  eh_roguelite/output/id_mappings.json5
  eh_roguelite/output/rgl/encounter_Quest.json
  eh_roguelite/output/rgl/encounter_cancel_button_Quest.json
  eh_roguelite/output/rgl/encounter_choice_Quest.json
  eh_roguelite/output/rgl/encounter_init_Quest.json
  eh_roguelite/output/rgl/end_game_Quest.json
  eh_roguelite/output/rgl/new_game_Quest.json
  eh_roguelite/output/rgl/resume_button_indicator_QuestItem.json
  eh_roguelite/src/roguelite.rs
  eh_roguelite/src/roguelite/core.rs
  eh_roguelite/src/roguelite/core/encounter.rs
  eh_roguelite/src/roguelite/core/gone_wrong.rs
  eh_roguelite/src/roguelite/core/new_game.rs
  eh_schema/src/extensions.rs
  eh_schema/src/extensions/character.rs
  quests/src/quests.rs
  quests/src/quests/branch.rs
  quests/src/quests/branch/switch.rs
Due: fmt, cargo-check, cargo-fix, clippy, machete

refactor: extracted codegen schema into separate crate
  Cargo.lock
  Cargo.toml
  codegen_schema/Cargo.toml
  codegen_schema/src/lib.rs
  codegen_schema/src/schema.rs
  eh_codegen/Cargo.toml
  eh_codegen/src/codegen.rs
  eh_codegen/src/codegen/enums.rs
  eh_codegen/src/codegen/objects.rs
  eh_codegen/src/codegen/structs.rs
  eh_codegen/src/codegen/switch.rs
  eh_codegen/src/main.rs
Due: fmt, cargo-check, cargo-fix, clippy, sort, machete

feat: hash for diagnostic path
  diagnostic/src/path.rs
Due: fmt, cargo-check, cargo-fix, clippy, machete

feat: extracted smart output to a separate crate
  Cargo.lock
  Cargo.toml
  eh_mod_dev/Cargo.toml
  eh_mod_dev/src/database.rs
  eh_roguelite/output/.managed_files
  smart_output/Cargo.toml
  smart_output/src/lib.rs
  smart_output/src/utils.rs
Due: fmt, cargo-check, cargo-fix, clippy, sort, machete

chore: mappings for rogue mod
  eh_rogue_mod/output/.managed_files
  eh_rogue_mod/output/eh/dart_Ship.json
  eh_rogue_mod/output/eh/dart_ShipBuild.json
  eh_rogue_mod/output/eh/dart_x_ShipBuild.json
  eh_rogue_mod/output/eh/excalibur_Ship.json
  eh_rogue_mod/output/eh/excalibur_ShipBuild.json
  eh_rogue_mod/output/eh/excalibur_x_ShipBuild.json
  eh_rogue_mod/output/eh/excalibur_xx_ShipBuild.json
  eh_rogue_mod/output/eh/javelin_Ship.json
  eh_rogue_mod/output/eh/javelin_ShipBuild.json
  eh_rogue_mod/output/eh/javelin_x_ShipBuild.json
  eh_rogue_mod/output/eh/paladin_Ship.json
  eh_rogue_mod/output/eh/paladin_ShipBuild.json
  eh_rogue_mod/output/eh/paladin_x2_ShipBuild.json
  eh_rogue_mod/output/eh/paladin_x_ShipBuild.json
  eh_rogue_mod/output/eh/paladin_xx_ShipBuild.json
  eh_rogue_mod/output/eh/scout_Ship.json
  eh_rogue_mod/output/eh/scout_ShipBuild.json
  eh_rogue_mod/output/eh/scout_mk2_Ship.json
  eh_rogue_mod/output/eh/scout_mk2_ShipBuild.json
  eh_rogue_mod/output/eh/scout_mk2_x_ShipBuild.json
  eh_rogue_mod/output/eh/scout_mk2_xx_ShipBuild.json
  eh_rogue_mod/output/eh/scout_x2_ShipBuild.json
  eh_rogue_mod/output/eh/scout_x_ShipBuild.json
  eh_rogue_mod/output/id_mappings.json5
Due: none

feat: updated DB storage format
  eh_mod_dev/src/database.rs
Due: fmt, cargo-check, cargo-fix, clippy, machete

refactor: group encounter-related stuff by folder
  eh_roguelite/output/.managed_files
  eh_roguelite/output/id_mappings.json5
  eh_roguelite/output/rgl/Quest/encounter/cancel_button.json
  eh_roguelite/output/rgl/Quest/encounter/init.json
  eh_roguelite/output/rgl/Quest/encounter/path_choice.json
  eh_roguelite/output/rgl/QuestItem/encounter/resume_button_indicator.json
  eh_roguelite/src/roguelite/core/encounter.rs
Due: fmt, cargo-check, cargo-fix, clippy, machete

refactor: group chapter event loot folder
  eh_roguelite/output/.managed_files
  eh_roguelite/output/id_mappings.json5
  eh_roguelite/output/rgl/Loot/events/chapter_1.json
  eh_roguelite/output/rgl/Loot/events/chapter_2.json
  eh_roguelite/output/rgl/Loot/events/chapter_3.json
  eh_roguelite/output/rgl/Loot/events/chapter_4.json
  eh_roguelite/output/rgl/Loot/events/chapter_5.json
  eh_roguelite/src/roguelite/core.rs
Due: fmt, cargo-check, cargo-fix, clippy, machete

Path conditions:
  fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-fix: any of: \.rs$
  clippy: any of: \.rs$
  sort: any of: \.toml$
  machete: any of: \.toml$, \.rs$
